formContainer {
    border: 1px solid black;
    padding: 20px
}

.label-form {
    font-weight: bolder;
    width: 100px;
    padding-right: 30px;
    float: left;
}

.container-button {
    text-align: center;
}

.send-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
}

.send-button:hover {
    cursor: pointer;
    background-color: lightgreen;
}