body {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.info-container {
    display: flex;
}

.contact-container {
    margin-left: 10px;
}

.title {
    font-size: 16px;
    margin: 4px;
}

.sub-title {
    margin: 4px;
}

button {
    border-radius: 10px;
    height: 40px;
}

.book {
    background-color: white;
    border: 2px solid grey;
}

.budget {
    background-color: grey;
    color: white;
    border: none;
}

.comments-container {
    display: flex;
    align-items: center;
}

.mark {
    color: black;
    background: grey;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
}

.mark p {
    margin: 0;
}